<app-nav></app-nav>

<main class="container">
  <div class="row section edit-mode" *ngFor="let row of list.rows; let i = index">
    <div ngbDropdown>
      <div class="add-row" ngbDropdownToggle>
        <i class="fa fa-plus" title="Add"></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ul class="row-type">
            <li *ngFor="let item of schema" (click)="addRow(item.type, i)" class="item-type"> <i
                class="{{item.iconClass}}"></i> {{ item.name}} </li>
          </ul>
        </div>
      </div>
    </div>

    <div ngbDropdown>
      <div class="edit-row" ngbDropdownToggle>
        <i class="fa fa-edit" title="Edit"></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <ul class="row-type">
            <li *ngFor="let item of schema" (click)="editRow(item.type, i)" class="item-type"> <i
                class="{{item.iconClass}}"></i> {{ item.name}} </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="remove-row">
      <i class="fa fa-trash" (click)="removeRow(row.id)"></i>
    </div>

    <ng-container *ngIf="row.type.split('-').length === 1">
      <div [ngClass]="{'col-sm-12': row.type == 1, 'col-sm-6': row.type ==2, 'col-sm-4': row.type ==3}"
        *ngFor="let column of row.columns">
        <div ngbDropdown>
          <div class="add-component--list" ngbDropdownToggle>
            <span class="add-component"><i class="fa fa-plus" title="Add"></i></span>
            <!-- <i class="fa fa-edit" title="Edit"></i> -->
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <ul class="row-type">
                <li *ngFor="let component of column.components" (click)="addComponent(item.type, i)" class="item-type"> <i
                    class="{{component.icon}}"></i> {{ component.title}} </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="component">
          <span>{{column.title}}</span>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="row.type == '1-2'">
      <div [ngClass]="{'col-sm-4':  i==0, 'col-sm-8': i==1, 'col-sm-12': i !== 0 && i !== 1}"
        *ngFor="let column of row.columns; let i = index">
        <span class="add-component"><i class="fa fa-plus" title="Add"></i></span>
      </div>
    </ng-container>

    <ng-container *ngIf="row.type == '2-1'">
      <div [ngClass]="{'col-sm-8':  i==0, 'col-sm-4': i==1, 'col-sm-12': i !== 0 && i !== 1}"
        *ngFor="let column of row.columns; let i = index">
        <span class="add-component"><i class="fa fa-plus" title="Add"></i></span>
      </div>
    </ng-container>

  </div>
</main>