<!-- Nav  -->
<app-nav (modeEdit)="chnageModeEdit($event)" (addEle)="addRow($event, 0)"></app-nav>
<app-side-bar (universeSettings)="onReciveSettings($event)" [setting]="componentSetting" [open]="openModal">
</app-side-bar>


<main class="container" [ngClass]="{'edit-mode': editMode}">
  <div class="row section" *ngFor="let row of list.rows; let i = index">

    <div *ngIf="editMode" class="position-relative">
      <div ngbDropdown>
        <div class="add-row" ngbDropdownToggle>
          <i class="fa fa-plus" title="Add Section"></i>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ul class="row-type">
              <li *ngFor="let item of schema" (click)="addRow(item.type, i)" class="item-type"> <i
                  class="{{item.iconClass}}"></i> {{ item.name}} </li>
            </ul>
          </div>
        </div>
      </div>

      <div ngbDropdown>
        <div class="edit-row" ngbDropdownToggle>
          <i class="fa fa-edit" title="Edit" title="Edit Section"></i>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <ul class="row-type">
              <li *ngFor="let item of schema" (click)="editRow(item.type, i)" class="item-type"> <i
                  class="{{item.iconClass}}"></i> {{ item.name}} </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="remove-row">
        <i class="fa fa-trash" title="Delete Section" (click)="removeRow(row.id)"></i>
      </div>
    </div>

    <ng-container>
      <div class="{{column.cssClass}}" *ngFor="let column of row.columns; let columnId = index">
        <div ngbDropdown>
          <div class="add-component--list" ngbDropdownToggle>
            <span *ngIf="editMode" class="add-component"><i class="fa fa-plus" title="Add"></i></span>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <ul class="row-type">
                <li *ngFor="let component of components" (click)="addComponent(i, columnId, component)"
                  class="item-type"> <i class="{{component.icon}}"></i> {{ component.title}} </li>
              </ul>
            </div>
          </div>
          <div class="component" [ngClass]="{'editMode': editMode}"
            *ngFor="let co of column.components; let componentId = index">
            <span *ngIf="editMode">{{co.title}}</span>

            <app-components *ngIf="!editMode" [data]='co.setting' [component]='co.component'></app-components>

            <i *ngIf="editMode" class="fa fa-trash nav-link" (click)="removeComponent(i, columnId, componentId)"></i>
            <i *ngIf="editMode" class="fa fa-edit nav-link"
              (click)="onAddComponentSetting(co.setting, i, columnId, componentId)"></i>

          </div>
        </div>
      </div>
    </ng-container>
  </div>
</main>